@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter28pt-Medium.woff2") format(woff2);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter28pt-Regular.woff2") format(woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter28pt-SemiBold.woff2") format(woff2);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-red: red;
  --font-family: "Inter", san-serif;
  --color-light: #fff;
  --color-dark: #101828;
  --color-light-grey: #667085;
  --color-perple: #6941c6;
  --color-blue: #344054;
  --color-border: #d0d5dd;
  --border-radius: 8px;
  --border: 1px solid var(--color-border);
  --transition-duration: 0.2s;
  --container-width: 1520px;
  --container-padding-x: 200px;
  --header-hight: 65px ;
}

body {
  font-family: var(--font-family);
  color: var(--color-light-grey);
}

.header {
  background-color: green;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: var(--header-hight);
  align-items: center;
  padding-inline: 20px 24px;
}
.header-info {
  display: flex;
  column-gap: 32px;
}
.header-menu {
  display: flex;
  align-items: center;
}
.header-menu-list {
  display: flex;
  column-gap: 18px;
  align-items: center;
}
.header-menu-item {
  display: flex;
}
.header-menu-link {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  color: #252c32;
}

.container {
  width: 100%;
  max-width: var(--container-width);
}

.header-logo {
  /*margin-bottom: 3px;*/
}

.header-all-icons {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.header-icons {
  display: flex;
  align-items: center;
}

.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  aspect-ratio: 1;
}

.header-icon-gamburger {
  display: none;
}

@media screen and (max-width: 960px) {
  .header-menu {
    display: none;
  }
  .header-icon-gamburger {
    display: block;
  }
}
@media screen and (max-width: 760px) {
  .header-menu {
    display: none;
  }
  .header-icon-gamburger {
    display: block;
  }
}
.main {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main .analytic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-direction: column;
}
.main .analytic-title {
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  margin-bottom: 24px;
}
@media screen and (max-width: 960px) {
  .main .analytic-title {
    font-size: 44px !important;
  }
}
@media screen and (max-width: 480px) {
  .main .analytic-title {
    font-size: 32px;
  }
}
@media screen and (max-width: 360px) {
  .main .analytic-title {
    font-size: 28px;
  }
}
.main .analytic-subtitle {
  margin-bottom: 48px;
}
.main .analytic-btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main .notebook {
  width: 800px;
}
.main .notebook .img {
  width: 500px;
  max-width: 100%;
  min-width: 300px;
}

.btn {
  background: blue;
  border-radius: 30px;
  color: white;
}

.title {
  font-size: clamp(100px, 10vw, 200px);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 500px;
  border: 1px solid red;
}
.box .squre {
  height: 100px;
  color: red;
  background-color: #6941c6;
}
.box .span {
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: yellow;
}

/*# sourceMappingURL=styles.css.map */
